<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserDao接口方法提供sql语句配置 -->
<mapper namespace="com.dafei.dao.UserDao">

    <!-- 查询一条数据 -->
    <select id="selectUser" resultType="User" parameterType="long">
      SELECT * FROM user WHERE id = #{id}
    </select>

    <!-- id="selectUserFoo"  和 com/dafei/dao/UserDao.java 中的  User selectUserFoo(long id); 对应  -->
    <!--<select id="selectUserFoo" resultType="User" parameterType="long">
        SELECT * FROM user WHERE id = #{id}
    </select>-->

    <!-- 查询所有数据 -->
    <select id="selectAllUser" resultType="User">
        SELECT * FROM user
    </select>

    <!-- 添加 -->
    <insert id="save" parameterType="User">
        INSERT INTO user(username, password, email, mobile) VALUES (#{username}, #{password}, #{email}, #{mobile});
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="User">
        UPDATE user SET username=#{username},password=#{password},email=#{email},mobile=#{mobile} WHERE id=#{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE id=#{id}
    </delete>

</mapper>